name: e2e-target

on:
  workflow_run:
    workflows:
      - ts
    types:
      - completed

jobs:
  test:
    if: github.event.workflow_run.actor == 'int128'
    name: test / ${{ github.event_name }} / ${{ github.event.action }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      actions: read
      checks: write
      contents: read
    steps:
      - name: Event
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            core.info(`eventName=${context.eventName}`)
            core.info(`sha=${context.sha}`)
            core.info(`ref=${context.ref}`)
            core.info(`actor=${context.actor}`)
            core.info(`payload=${JSON.stringify(context.payload, undefined, 2)}`)

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: int128/opentelemetry-collector-action@f863f379cd7c0e697804b313e658a49954f3a629 # v0.47.0
        with:
          readiness-probe-port: 13133
          environments: |
            DD_API_KEY=${{ secrets.DD_API_KEY }}
          config: |
            receivers:
              otlp:
                protocols:
                  http:
                    endpoint: 0.0.0.0:4318
            processors:
              batch:
            exporters:
              datadog:
                api:
                  key: ${env:DD_API_KEY}
            extensions:
              health_check:
                endpoint: 0.0.0.0:13133
            service:
              extensions: [health_check]
              pipelines:
                traces:
                  receivers: [otlp]
                  processors: [batch]
                  exporters: [datadog]

      - name: Run int128/trace-workflows-action
        uses: ./
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: http://127.0.0.1:4318

      - if: always() && github.event_name == 'workflow_run'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const details_url = `${context.serverUrl}/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
            await github.rest.checks.create({
              ...context.repo,
              name: 'e2e-target',
              head_sha: context.payload.workflow_run.head_sha,
              conclusion: '${{ job.status }}',
              details_url,
              output: {
                title: '${{ job.status }}',
                summary: details_url,
              },
            })
